<!DOCTYPE html>
<html>
<head>
  <title>RailsBeltPractice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="nav_bar">
		<h3>
		<% if session[:user_id] %>
			<a href="/signout">Logout</a>
    		<a href='/users/<%= session[:user_id] %>'><%= session[:full_name] %></a>
    		<a href='/events'>Events</a>
			<%= link_to 'Create an Event', new_event_path %>
		<% end %>
		Y.our L.ocal E.vents</h3>
	</div>

	<div id="header">
		<% if session[:user_id] %>
		<a href="/events"><h1>Wiilee.</h1></a>
		<% else %>
		<h1 id="login_button">Log in to <a href="/sessions/new">Wiley.</h1></a>
		<% end %>
	</div>
<%= yield %>
<!-- <div id="img_background"></div> -->

</body>
</html>
